/* universal */

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  color: #666;
  font-size: 12px;
  line-height: 25px;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/* header */

/* footer */

.footer {
  width: 100%;
  height: 50px;
  background: #666;
}

.footer p {
  line-height: 50px;
  font-size: 14px;
  color: #ffffff;
}

.page h3 {
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

.page aside {
  font-size: 14px;
  line-height: 25px;
}

.article {
  margin-top: 50px;
}

.article .sidebar {
  width: 200px;
  float: left;
}

.article .sidebar .sidebar-theme {
  display: block;
  line-height: 50px;
  background-color: #666;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

.article .sidebar ul li {
  height: 30px;
  padding-left: 20px;
  background-color: #999;
  border-bottom: 1px solid #fff;
  position: relative;
}

.article .sidebar ul li a {
  display: block;
  line-height: 30px;
  font-size: 16px;
}

.article .sidebar ul li:hover > a + ul {
  display: block;
}

.article .sidebar ul li ul {
  display: none;
  background-color: #999;
  position: relative;
  border-left: 1px solid #fff;
  top: -100%;
  left: 100%;
}

.article .sidebar ul li ul li ul {
  background-color: #ccc;
}

.article .sidebar ul li ul li:hover ul {
  display: block;
}

.article .sidebar ul li.sub-menu:before {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.article .article-list {
  width: 950px;
  float: left;
  margin-left: 50px;
}

.article .article-list div.article-crumb {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.article .article-list div.article-crumb a {
  line-height: 40px;
  font-size: 14px;
}

.article .article-list p {
  font-size: 20px;
  text-align: center;
}

.article .article-list ul li {
  width: 200px;
  float: left;
  margin: 10px;
  border: 1px solid #999999;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.article .article-list ul li:hover {
  border: 1px solid #666;
}

.article .article-list ul li:hover figure figcaption {
  background-color: #666;
}

.article .article-list ul li figure {
  width: 200px;
}

.article .article-list ul li figure img {
  width: 200px;
}

.article .article-list ul li figure figcaption {
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  background-color: #999;
  color: #ffffff;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

